:root {
  --jp-ui-font-family:      'IBM Plex Mono', monospace !important;
  --jp-content-font-family: 'IBM Plex Mono', monospace !important;
  --jp-code-font-family:    'IBM Plex Mono', monospace !important;
}
